<img id="picture" src="{{picture}}"/>

<div id="name">{{first_name}} {{last_name}}</div>

<div>
	{{#if preference}}
		{{preference}}
	{{else}}
		No preference.
	{{/if}}
</div>

<div>
	{{#each skills}}
		<span class="skill">{{this}}</span>
	{{else}}
		No skills.
	{{/each}}
</div>

<div>
	{{#if description}}
		{{description}}
	{{else}}
		No about me.
	{{/if}}
</div>